

<p>
  <h1 style="color: coral; font-family:'Times New Roman', Times, serif; border: 2px solid powderblue;"> About Me:</h1> 
   
</p>




   
    <p>
      <br>
        <img 
        src="https://media-exp1.licdn.com/dms/image/C4E03AQEXQXOvfLeNyQ/profile-displayphoto-shrink_800_800/0/1588276653536?e=1672272000&v=beta&t=fcaPlX-kGOr6JjBq6qbWFznVFy9Oj4XtLjQ4ivTGeB0"
        width="200"
        class="rounded">
        
        <h5 style="font-family:'Times New Roman', Times, serif; "> I am a recent graduate from Brandeis University. I recieved a B.A. in Computer Science and minored in Economics</h5>

      
    </p>
     <table class="table table-bordered table-striped; length=30%">
       <thead>
         <th>Relevant Courses</th>
       </thead>
       <tbody>
         <tr>
         <td> Advanced Programming Techniques in Java</td>
        </tr>
        <tr>
         <td>Data Structures</td>
        </tr>
         <tr>
           <td>Discrete Mathematics</td>
          </tr>
          <tr>
         <td>Natural Language Processing</td>
        </tr>
        <tr>
         <td> Operating Systems</td>
        </tr>
         <tr><td>Web Application Development</td></tr>
       </tbody>
     </table>


