

<p>
  <h1 style="color: aquamarine"> Fun Facts:</h1> 
   
</p>




<ul>
    
    <li>
       I love animals, cows being my favorite 
    </li>
    <li>
        I am super good at playing competitive solitaire
    </li>
    <li>
        I'm currently working on a farm ! 
    </li>
    <li>
        I love web development!
    </li>
    
</ul>
<h1 class="bg-info fs-4"> Annual vs. Perennial Plants</h1>
<table class= "table table-bordered table-striped"> 
    <thead>
        <tr>
            <th>Annuals</th>
            <th>Perennials</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="px-4"> Last for one growing season</td>
            <td class="px-4"> Perennials live for many years but not forever</td>
            
        </tr>
        <tr>
            <td class="px-4"> Annual flowers tend to bloom longer than perennials</td>
            <td class=" px-4"> Perennial plants often cost more than annuals</td>
            
        </tr>
        <tr>
            <td class="px-4" >Annual plants are better to garden with if you are a beginner</td>
            <td class=" px-4"> Perennials that are native to a region usually require less maintenance and attract more pollinators  </td>
        </tr>

    </tbody>
</table>
    <p>
        <img 
        src="https://media-exp2.licdn.com/dms/image/C4E03AQEXQXOvfLeNyQ/profile-displayphoto-shrink_800_800/0/1588276653536?e=1663804800&v=beta&t=1vylQ7gvffHV__2bxCcYHK9BrJK4iMLTjVBggQTwd4E"
        width="200">
      
    </p>


