

<p>
  <h1 style="color: coral; font-family:'Times New Roman', Times, serif; border: 2px solid powderblue;"> About Me:</h1> 
   
</p>





    <p>
        <img 
        src="https://media-exp2.licdn.com/dms/image/C4E03AQEXQXOvfLeNyQ/profile-displayphoto-shrink_800_800/0/1588276653536?e=1663804800&v=beta&t=1vylQ7gvffHV__2bxCcYHK9BrJK4iMLTjVBggQTwd4E"
        width="200">
      
    </p>


