<h3> Dog Pics! </h3>

<form method="post" action="/breed">
    Enter breed: <input type="text" name="breed"><br>
    <input type="submit">
</form>
<img
    src="https://www.akc.org/wp-content/uploads/2017/11/Golden-Retriever-Puppy.jpg"
    width="300" alt= "photo of dog"> 