
<div class="p-3 mb-2 bg-info text-dark">
<h1> Daily Log</h1>
<div class="p-3 mb-2 bg-light">
<h3>Add new item</h3>
<form method="post" action="/dailyLog">
    <input type="text" name="speciesName"> - species name<br>
    <input type="text" name="url"> - url <br>
    comments:<br>
    <textarea name="comment"></textarea><br>
    <input type="submit">

</form>
</div>
</div>