<p>A Work in Progress...</p>

    

<a href="/work"></a>
  <img
    src="https://i.imgur.com/GFPi2xQ.jpg"
    class="img-thumbnail float-center"
    
    width="200" > 

<img
  src="https://i.imgur.com/vS47uwC.jpg"
  class="img-thumbnail float-start"
  width="200"
  >
  <img
    src="https://i.imgur.com/po8Cqex.jpg"
    class="img-thumbnail"
    width="200">
    <br> 
    <div class = "position-absolute top-75 start-50">

    
      <img
        src="https://i.imgur.com/ijq6IHe.png"
        
        width="200">
      </div>
    </br>
    