<div style="color:darkseagreen">
<h2 style="color:seagreen; font-family:'Times New Roman', Times, serif; padding-left: 25px; "> Login</h2>

<div style = "color:darkseagreen; padding-left: 25px" > 
     <form method="post" action="/login">
        username: <input type="text"
                        autocomplete="username"
                        name="username"><br>
        passphrase: <input  type="password"
                            autocomplete="passphrase"
                             name="passphrase"><br>
        <input type="submit">
    </form>
            <h2 style ="color:seagreen; font-family:'Times New Roman', Times, serif"> Signup  </h2>
            <form method="post" action="/signup">
                <div style = "font-family:'Times New Roman', Times, serif">
                username: <input type="text" autocomplete="username" name="username"><br>
                password:
                   <input type="password" autocomplete="passphrase" name="passphrase"><br>
                confirm password:
                    <input type="password" name="passphrase2"><br>
              
                age: <input type="number" name="age"><br>
              
              
                <input type="submit">
            </form>

            </div>
        </div>