<h2> Prior Animated Works</h2>

<h4> Ferry Godmother Productions</h4>
<p> Designed and implemented a series of characters for a video project to thank local essential workers and keystone figures of the community </p>
<br>
<img
    src="https://i.imgur.com/XwFdP23.png"
    class="img-fluid "
    
    width="300" > 
<br>
<img 
    src="https://i.imgur.com/jJqnrkq.png"
    class="float-start"
    width="400">
<br>
<img
    src="https://i.imgur.com/sZotWGk.png"
    
    width="400">
    </br> 

