<h2> Prior Animated Works</h2>

<h4 style="color:darkcyan"> Ferry Godmother Productions</h4>
<p> Designed and implemented a series of characters for a video project to thank local essential workers and keystone figures of the community </p>
<br>
<img
    src="https://i.imgur.com/XwFdP23.png"
    class="float-center "
    
    width="300" > 

<img 
    src="https://i.imgur.com/jJqnrkq.png"
    class="float-start"
    width="400">

<img
    src="https://i.imgur.com/sZotWGk.png"
    
    width="400">
<br>
<h4 style="color:darkcyan"> Food Chaser</h4>
<p> Collaborated on a group project to create a 3D animated game, using A-frame and deployed on Glitch</p>
<br>

<a href = "https://equable-muddy-nannyberry.glitch.me/"> Food Chaser Game</a>
<br>
<br>
<img
    src="https://i.imgur.com/bfIwvS2.png"
    class="float-start"
    width="500">




